APP_NAME=Tho Platform Backend
APP_ENV=development
APP_DEBUG=true
APP_HOST=0.0.0.0
APP_PORT=8000
API_PREFIX=/api/v1

DATABASE_URL=sqlite:///db/tho_demo.sqlite
JWT_SECRET=replace-me
JWT_EXPIRE_MINUTES=120
IMAGE_API_PROVIDER=mock
IMAGE_API_KEY=replace-me
REDIS_URL=redis://localhost:6379/0
